{% extends "master.html" %}

{% block content %}

<p><a href="/">HOME</a></p>

<h1>What got me into cooking? </h1>
<p> Why food? Because food it has always been my safe place, a strong way to express myself. When I am stressed, I cook. When I feel sad, I cook. When I am 
happy, I cook for the people I love. Cooking is my way of processing emotions and sharing moments.
But I don’t just want to share recipes—there are already millions of people doing that. I do want to connect with people’s stories, thoughts and 
feelings. Food is an amazing medium to spread love, friendship, and to make interesting and meaningful connections. </p>

{% endblock %}